[submodule "contracts/lib/chainlink-ccip"]
	path = contracts/lib/chainlink-ccip
	url = https://github.com/smartcontractkit/chainlink-ccip
[submodule "contracts/lib/openzeppelin-contracts"]
	path = contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "contracts/lib/chainlink-local"]
	path = contracts/lib/chainlink-local
	url = https://github.com/smartcontractkit/chainlink-local
